body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242424;
  color: white;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
.header {
  width: 100vw;
  height: 18vh;
  background-color: #171717;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: red 2px solid;
  padding: 0 20px;
}
.articles {
  width: 80vw;
  height: 64vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.article {
  width: 48%;
  /* border: 1px white solid; */
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 10px;
  position: relative;
  background-color: #525252;
  border-radius: 5px;
}
.pagination {
  display: flex;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.option {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}
.articleTitle {
  font-size: 2.5rem;
  padding-bottom: 5px;
}
.articleDate {
  font-size: 13px;
  padding-bottom: 20px;
}
.articleDesc {
  font-size: 1.4rem;
}
.readMore {
  border: none;
  background-color: #eb4034;
  padding: 10px;
  border-radius: 25px;
  color: white;
  position: absolute;
  bottom: 10px;
}
.preview {
  background-color: #525252;
  width: 80vw;
  margin: 20px auto;
  border-radius: 5px;
  height: 64vh;
  padding: 10px;
}
.previewTitle {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.previewDate {
  font-size: 13px;
  margin-bottom: 10px;
}
.previewDesc {
  font-size: 1.5rem;
}
